---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import BlogGrid from "../components/BlogGrid.astro";
import Contact from "../components/Contact.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Hero
				name="Blog201"
				title="Developer & Tech Enthusiast"
				description="안녕하세요.<br /> 개발과 기술에 대한 이야기를 나누는 공간입니다. <br/> 더 나은 코드를 위해 끊임없이 고민하고 학습합니다."
			/>
			<About />
			<Skills />
			<BlogGrid />
			<Contact />
		</main>
		<Footer />
	</body>
</html>
